body{
    background-color: #0A0908;
    font-family: 'Architects Daughter', cursive;
    color: #F2F4F3;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /*Investigate how to solve the thing of the scroll bar and limit just to a window screen*/
}
h1{
    font-size: 100px;    
}
#firstLayer {
    padding: 60px 60px;
}
#fireButton{
    margin: auto;
    background-color: #F2F4F3;
    border: solid #22333B;
    border-radius: 30px;
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    cursor: pointer;
}
#playGround {
    background-color:  #F2F4F3;
    color: #5E503F;
    display: none;
}
#questionTitle {
    background-color:  #F2F4F3;
    border: solid #A9927D;
    color: #5E503F;
    border-radius: 20px;
    /* display: none; */
}
#dashboardQuestion{
    background-color: #22333B;
    color: #F2F4F3;
    /* display: none; */
}
#rules{
    background-color:  #F2F4F3;
    color: #5E503F;
    border: solid #A9927D 10px;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 10px 10px 50px;
    margin-top: 20px;
}
#rules ol{
    list-style: upper-roman;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
#usersData {
    background-color:  #F2F4F3;
    color: #5E503F;
    border: solid #A9927D 10px;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 10px 10px 50px;
    margin-top: 20px;
    display: none;
}

#answersCheckerMessage{

}