body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: rgb(243, 243, 243);
}
h1.title-account {
    font-size: 2.15em;
    font-weight: 400;
}
h2.subscrition-title{
    color:#757575;
    font-size: 1.125em;
    font-weight: 400;
}
button.my-cancel-bt{
    COLOR: #000;
    font-size: 13px;
}
div.first-section{
    border-top: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid  rgb(51, 51, 51);
}
div.second-section, div.third-section{
    border-bottom: 1px solid  rgb(51, 51, 51);
}
div.my-password, div.my-phone-n{
    color: rgb(117, 117, 117);
}
img.payPal{
    height: auto; 
    width: auto; 
    max-width: 17%; 
    max-height: 15%;

}
div.important-data, span.important-data {
    font-size: 1em;
    font-weight: 700;
}
div.billing-method{
    border-bottom: 1px solid rgb(229, 229, 229);
    border-top: 1px solid rgb(229, 229, 229);
}
a.d-flex{
    color: rgb(0, 115, 230);
}
svg.quality-icon{
    height: auto; 
    width: auto; 
    max-width: 17%; 
    max-height: 15%;
}
img.usersIcon{
    border-radius: 4px;
    height: auto; 
    width: auto; 
    max-width: 17%; 
    max-height: 15%;
}