body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(216, 216, 216) ;
}
.logoGalaxy{
    height: 30px;
    width: 30px;
}
.my-logo{
    height: 35px;
    width: 35px;
}
.title-section{
    height: 32px;
}
.title-section h2{
    font-size: 16px;
    font-weight: 600;
}
.galaxy-section{
    /* height: 48px; */
    font-size: 14px;
    border-top: 1px solid rgb(64, 64, 64);
    border-bottom: 1px solid rgb(64, 64, 64);
}
.on-sale{
    border-bottom: 1px solid #bfbfbf; ;
}
.sign-selector{
    border-bottom: 3px solid #86328a;
}
.special-word{
    color: #86328A;
    font-weight: 700;
}
.callToAction{
    color: #DE8AE5 !important;
}
.my-spots-img{
    max-height: 396px;
    object-fit: contain;
}
.nav-item{
    font-size: 14px;
}
div.card, h6.card-title {
    font-size: 14px;
    font-weight: 400;
}

.my-button-card{
   background-image: linear-gradient(180deg,#a5c700,#86b300); 
   border-color: rgb(127 171 52);
   height: 30px;
   width: 33px;
   padding: 0;
   opacity: 0;
}

div .my-button-card:hover {
    opacity: 1;
}

.special-height{
    background-image: url("https://via.placeholder.com/229x405/DE8AE5");
    background-repeat: no-repeat;
    background-size: cover;
    height: 405px;
    /* border: 1px solid rgb(191,191,191); */
}